//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// Bootstrap variables
$font-family-sans-serif: 'Montserrat', Helvetica, Arial, serif !important;
$font-family-monospace: 'Montserrat', Helvetica, Arial, serif !important;
$font-size-base: 'Montserrat', Helvetica, Arial, serif !important;
