  <div class="layout-wrapper">
    <div class="card custom-form">
      <div class="card-header">DATOS DEL SOFTWARE</div>
      <div class="card-body">
        <form  [formGroup]="customForm">
          <div class ="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>TestSetId</label>
                <input type="text" #focusElement class="form-control" formControlName="testsetid" autofocus>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label> <strong class="asterisk"> {{ 'general.asterisk' | translate }}</strong> Identificación</label>
                <input type="text" class="form-control" formControlName="identification"
                       [class.is-invalid]="isInvalid('identification')" required>
              </div>
            </div>
          </div>
          <div class ="row">
            <div class="col-12">
              <div class="form-group">
                <label>Clave técnica</label>
                <input type="text"
                       class="form-control" formControlName="technical_key">
              </div>
            </div>
          </div>
          <div class ="row">
            <div class="col-md-6">
              <div class="form-group">
                <label> <strong class="asterisk"> {{ 'general.asterisk' | translate }}</strong> PIN</label>
                <input type="text" class="form-control" formControlName="pin"
                       [class.is-invalid]="isInvalid('pin')" required>
              </div>
            </div>
              <div class="col-md-6">
              <div class="form-group">
                <label> <strong class="asterisk"> {{ 'general.asterisk' | translate }}</strong>
                    Número inicial del folio de habilitación
                </label>
                <input type="number" class="form-control" formControlName="initial_number"
                       [class.is-invalid]="isInvalidNumber('initial_number')" required>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group" [class.is-invalid]="isInvalid('environment_id')">
                <label> <strong class="asterisk"> {{ 'general.asterisk' | translate }}</strong> Ambiente de operación</label>
                <ng-select formControlName="environment_id" readonly="true">
                  <ng-option *ngFor="let destin of destin" [value] = "destin.id">
                    {{ destin.environment_name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="form-group" [class.is-invalid]="isInvalid('type_id')">
                    <label> <strong class="asterisk"> {{ 'general.asterisk' | translate }}</strong> Tipo de documento</label>
                    <ng-select formControlName="type_id" [readonly]="editing">
                        <ng-option *ngFor="let document of documentsList" [value] = "document.id">
                            {{ document.name }}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
          </div>
            <hr>
          <div class="row">
            <div class="col-md-12 mt-25">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input"
                         [disabled]="isProduction()"
                         type="radio" formControlName="integration_type" value="1"> Software propio
                </label>
              </div>
             <!-- <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input"
                         [disabled]="isProduction()"
                         type="radio" formControlName="integration_type" value="2"> Proveedor tecnológico
                </label>
              </div>-->
            </div>
          </div>
          <div class ="row" *ngIf="isProvider()">
            <div class="col-md-12">
              <div class="form-group">
                <label>ID de la cuenta</label>
                <input type="text" class="form-control" formControlName="account_id"
                       required [class.is-invalid]="isInvalid('account_id')">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Token de acceso</label>
                <input type="text" class="form-control" formControlName="auth_token"
                       required [class.is-invalid]="isInvalid('auth_token')">
              </div>
            </div>
          </div>
        </form>
      <ng-container *ngIf="currentSoftware?.test_process">
          <div class="p-25" [class]="'document-status-' + currentSoftware.test_process.status">
              <span>Estado de la habilitación: <b>{{currentSoftware.test_process.status_description}}</b></span>
          </div>
      </ng-container>
      </div>
      <div class="card-footer">
        <app-footer-form [showAaveACreate]="false" [saveAClose]="saveAClose" (closeEvent)="cancel()"
                          (saveAndCreateEvent)="saveAndCreate()" (saveAndCloseEvent)="saveAndClose()"></app-footer-form>
      </div>
    </div>
</div>
