<exodo-grid #exodoGrid class="w-100"
            [caption]="title"
            [columns]="eColumns"
            [showPagination]="true"
            mode="remote"
>
    <div class="d-flex justify-content-end w-100 mb-1" header>
        <ng-container *ngIf="useNewButton">
            <button class="btn custom-button border fas-fa-ok" (click)="createData()" [disabled]="loading">
                <i class="fa fa-plus mr-1 fas-fa-22"></i>
                {{ 'buttons.new' | translate }}
            </button>
        </ng-container>
        <ng-container *ngIf="useOtherButton">
            <button  class="btn custom-button border ml-2" (click)="onOtherButton()" [disabled]="loading">
                <i class="{{ faOtherButton }}"></i>
                {{ textOtherButton }}
            </button>
        </ng-container>
        <ng-container *ngIf="useImport">
            <button  class="btn custom-button border fas-fa-save ml-2" (click)="importData()" [disabled]="loading">
                <i class="fa fa-upload mr-1 fas-fa-22"></i>
                {{ 'buttons.import' | translate }}
            </button>
        </ng-container>
    </div>
</exodo-grid>
<ng-container *ngIf="showResults">
    <app-software-view-test
            (closeCard)="onCloseCard()"
            [dataDian]="dataDian"
    ></app-software-view-test>
</ng-container>
<ng-container *ngIf="displayProcess">
   <div class="notification-test-card">
       <div class="card">
           <div class="card-header">
               <h5>{{ 'Estado de la habilitación' | uppercase }}</h5>
           </div>
           <div class="card-body d-flex justify-content-center flex-column">
               <div class="shadaw status status--{{process?.state || 'INITIAL' }}">
               {{ software?.software?.processStatusDescription || 'Cargando...' }}
               </div>
               <div class="card-body d-flex justify-content-center">
                <i class="fas fa-spinner fa-spin fas-fa-save"></i>
               </div>
           </div>
       </div>
   </div>
</ng-container>
