<app-notification-card (onCloseCard)="onCloseCard()">
    <div class="card">
        <div class="card-header">
            <h4>Vista del test Software</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <pre  style="color: white; background-color: #2556a3;">{{dataDian | json }}</pre>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button class="btn custom-button border fas-fa-close" (click)="onCloseCard()">
                <i class="fas fa-door-closed fas-fa-22 fas-fa-close"></i>
                Cerrar
            </button>
        </div>
    </div>
</app-notification-card>
