<app-layout-component
        (onToggleNavbar)="toggleNavbar()"
        [isClicked]="isClicked">
    <ng-container slot="sidebar">
        <div class="card custom-form">
            <div class="card-header">
                <h6 class="card-title mb-0">{{title | uppercase}}</h6>
            </div>
            <div class="card-body">
                <div class="w-100 d-flex align-items-center mb-25">
                    <div class="w-100 d-flex align-items-center mb-0">
                        <button
                                appCustomTooltip="Volver al menú anterior"
                                tooltipDirection="left"
                                class="btn custom-button fas-fa-close me-25"
                                (click)="goRoute('dashboard')" [disabled]="loading">
                            <i class="fas fa-chevron-left fas-fa-18 fas-fa-close"></i>
                            {{ 'buttons.back' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <app-search-data #searchItems
                         (onSearch)="onSearch()">
        </app-search-data>
        <div class="row row-cols-1 g-25">
            <div class="col-md-12 w-100 static-bottom exodogrid-content-style">
                <exodo-pagination class="pagination w-100" #pagination
                                  (onRefreshPagination)="onRefreshPagination()">
                </exodo-pagination>
            </div>
            <div class="col" *ngFor="let item of softwareS.data; index as i">
                <div class="card cursor layout-content-card single full-height"
                     [ngClass]="{'is-selected': item.checked}"
                     (click)="onClickItem(item)">
                    <div class="card-body">
                        <p class="card-text item-description w-100">
                           <b>TIPO: </b> {{ item.typeDescription | uppercase }}
                        </p>
                        <p class="card-text">
                            <b>PIN:</b> {{item.pin}}. <b>AMBIENTE:</b>
                            {{ getEnvironment(item) | uppercase}}
                        </p>
                        <div class="w-100" [title]="getTooltip(item)">
                            <div [class]="'document-status-' + getProcessStatue(item)">
                                <b>ESTADO DE LA HABILITACIÓN: </b>
                                <span>{{getStatusDescription(item) | uppercase}}</span>
                            </div>
                        </div>
                        <small class="text-muted">
                            {{getTooltip(item)}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <app-software-view
        (onAfterRunningTest)="runEnableVerification()"
        #documentView
    ></app-software-view>
</app-layout-component>