$original-color: #a3c7e0;
$strong-color: darken($original-color, 35%);
.grid-search {
  input {
    border-color: $strong-color !important;
    background-color: white !important;
    box-shadow: none;
    transition: border-color 0.5s ease;
    font-size: 14px;
    min-height: 34px;
    height: 34px;
    color: $strong-color;
  }

  button.btn {
    transition: background-color 0.5s ease;
    min-height: 34px;
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:focus {
      background-color: darken($strong-color, 10%) !important;
    }
  }
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .filter-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.2em;
    color: $strong-color !important;
    transition: color 0.3s;
    position: relative;
    background-color: white !important;
    &:hover, &:focus {
      color: white !important;
    }

    .filter-badge {
      position: absolute;
      top: -5px;
      right: -10px;
      background-color: $strong-color !important;
      color: white !important;
      border-radius: 50%;
      padding: 3px 6px;
      font-size: 0.75em;
    }
  }

  .filter-menu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100%;
    border: none;
    border-radius: 8px;
    z-index: 1000;
    padding: 0;

    .card-body {
      padding: 10px 15px;

      .filter-option {
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        &:hover {
          background-color: #f0f0f0;
          color: #007bff;
        }
      }
    }

    .card-footer {
      padding: 5px 15px;
      background-color: white;
      border-top: none; /* Elimina la línea superior */
      display: flex;
      justify-content: flex-end;
      .btn {
        transition: background-color 0.3s, color 0.3s;
      }
    }
  }
}

// Green layout 
.green-layout {
  .grid-search {
    input {
      border-color: $theme-green-input-color !important;
      background-color: $theme-green-input-bg !important;
      color: $theme-green-input-color !important;
    }

    button.btn {
      i {
        color: $theme-green-button-color !important;
      }
      &:hover, &:focus {
        background-color: darken($theme-green-button-bg, 10%) !important;
        i {
          color: $theme-green-button-color !important;
        }
      }
    }
  }
  
  .search-container{
    .filter-icon {
      color: $theme-green-button-color !important;
    }
  }
}