<exodo-grid #exodoGrid class="w-100"
            [caption]="title"
            [columns]="columns"
            [dataSource]="dataSource"
            mode="local">
  <div class="w-100 d-flex align-items-center mb-25" header>
    <button  class="btn custom-button fas-fa-close me-1" (click)="goToParent()" [disabled]="loading">
      <i class="fa-solid fa-door-closed fas-fa-22 fas-fa-close"></i>
      {{ 'buttons.back' | translate }}
    </button>
    <div class="d-flex justify-content-end w-100">
      <div class="progress-wrapper">
        <div class="mb-25"><span class="text-muted">Progreso de los eventos</span></div>
        <ngb-progressbar type="success"
                         [value]="getValueEvents()"
                         [max]="getMaxEvents()"
                         showValue="true"></ngb-progressbar>
      </div>
      <button class="btn btn-custom"
              appCustomTooltip="Acuse de recibo de Factura Electrónica de Venta"
              (click)="sendEvent('030', 'Acuse de recibo de Factura Electrónica de Venta')"
              *ngIf="isAvailable('030')"
              [disabled]="loading" >
        <i class="fas fa-tasks"></i>
        Acuse de recibo <b>(030)</b>
      </button>
      <ng-container *ngIf="isCredit()">
      <button class="btn btn-custom ms-25"
              appCustomTooltip="Recibo del bien y/o prestación del servicio"
              (click)="sendEvent('032', 'Recibo del bien y/o prestación del servicio')"
              *ngIf="isAvailable('032') && (!isExistent('031') || !isExistent('033')) && isExistent('030')"
              [disabled]="loading" >
        <i class="fas fa-tasks"></i>
        Recibo del bien <b>(032)</b>
      </button>
      <button class="btn btn-custom ms-25"
              appCustomTooltip="Aceptación expresa de la Factura Electrónica de Venta"
              (click)="sendEvent('033', 'Aceptación expresa de la Factura Electrónica de Venta')"
              *ngIf="isAvailable('033') && !isExistent('031') && isExistent('032') && isExistent('030')"
              [disabled]="loading" >
        <i class="fas fa-tasks"></i>
        Aceptación expresa <b>(033)</b>
      </button>
      <button class="btn btn-custom ms-25"
              appCustomTooltip="Reclamo de la Factura Electrónica de Venta"
              (click)="sendEvent('031', 'Reclamo de la Factura Electrónica de Venta')"
              *ngIf="isAvailable('031') && isExistent('030') && isExistent('032') && !isExistent('033')"
              [disabled]="loading" >
        <i class="fas fa-tasks"></i>
        Reclamo de la Factura <b>(031)</b>
      </button>
      </ng-container>
    </div>
  </div>
</exodo-grid>
