<li ngbDropdown class="nav-item dropdown-notification mr-25">
  <a class="nav-link" ngbDropdownToggle id="navbarNotificationDropdown">
    <i class="ficon" data-feather="bell"></i>
    @if (unreadCount > 0) {
      <span class="badge badge-pill badge-danger badge-up">{{ unreadCount }}</span>
    }
  </a>
  <ul
    ngbDropdownMenu
    aria-labelledby="navbarNotificationDropdown"
    class="dropdown-menu dropdown-menu-media dropdown-menu-right"
    >
    <!-- Notifications header -->
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title mb-0 mr-auto">Notificaciones</h4>
        @if (unreadCount > 0) {
          <div class="badge badge-pill badge-light-primary">
            {{ unreadCount }} Nuevas
          </div>
        }
      </div>
    </li>
    <!--/ Notifications header -->

    <!-- Notifications content -->
    <li class="scrollable-container media-list" >
      @if (notifications.length === 0) {
        <div class="p-2 text-center text-muted">No hay notificaciones</div>
      }
      @for (message of notifications; track message.id) {
        <a class="d-flex" href="javascript:void(0)" (click)="onRead(message)" [ngClass]="{'bg-light': !message.read_at}">
          <div class="media d-flex align-items-start">
            <div class="media-left">
              <div class="avatar bg-light-primary">
                <div class="avatar-content"><i class="avatar-icon" [data-feather]="message.data?.icon || 'bell'"></i></div>
              </div>
            </div>
            <div class="media-body">
              <p class="media-heading" [class.font-weight-bolder]="!message.read_at">{{ message.data?.title || 'Notificación' }}</p>
              <small class="notification-text">{{ message.data?.message || '' }}</small>
            </div>
          </div>
        </a>
      }
    </li>
    <!--/ Notifications content -->

    <!-- Notifications footer -->
    <li class="dropdown-menu-footer">
      <a class="btn btn-primary btn-block" href="javascript:void(0)" (click)="onReadAll()" [class.disabled]="unreadCount === 0">Marcar todas como leídas</a>
    </li>
    <!--/ Notifications footer -->
  </ul>
</li>
