/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend.env
/backend.env.backup
/backend.phpunit.result.cache
/backendHomestead.json
/backendHomestead.yaml
/backendnpm-debug.log
/backendyarn-error.log
/front/matias/node_modules
/front/matias/dist
/backend/*.zip
/.scannerwork/*
/backend/.scannerwork/*
/backend/storage/framework/cache/*
/backend/storage/tmp/*
/backend/storage/logs/*
/docs/*
/backend/public/pdf/*
/backend/public/zip/*
/backend/public/xml/*
/backend/public/qr/*
/backend/public/jsons/*
/backend/public/attachments/*
/../../*.zip
/../*.zip
/../../.vscode
/../.vscode
/front/matias-web/node_modules
/front/matias-web/dist
/front/matias-web/.scannerwork
/front/matias-web/.vscode
/front/matias-web/.editorconfig
/front/themeforest-7MNPyGUc-saasland-creative-html5-template-for-saas-startup-agency/
**/node_modules/**
**/dist/**
**/.scannerwork/**
**/.vscode/**
**/.editorconfig/**
**/.idea/**
**/.angular/**
/prod