<!-- core card component -->
<div
  class="card"
  #coreCard
  [ngClass]="{ 'card-fullscreen': onclickEvent.expandStatus }"
  *blockUI="coreCardId; template: _CoreBlockUiComponent"
  >
  <div class="card-header" #cardHeader>
    <ng-content select=".card-title"></ng-content>
    <!-- heading elements -->
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <!-- collapse -->
        @if (actionsView.collapse) {
          <li (click)="collapse()">
            <a data-action="collapse" [ngClass]="{ rotate: onclickEvent.collapseStatus }">
              <i class="feather icon-chevron-down"></i>
            </a>
          </li>
        }
        <!-- expand -->
        @if (actionsView.expand) {
          <li (click)="onclickEvent.expandStatus = !onclickEvent.expandStatus">
            <a data-action="expand">
              <i class="feather" [ngClass]="onclickEvent.expandStatus ? 'icon-minimize' : 'icon-maximize'"></i>
            </a>
          </li>
        }
        <!-- reload -->
        @if (actionsView.reload) {
          <li (click)="reload()">
            <a data-action="reload">
              <i class="feather icon-rotate-cw"></i>
            </a>
          </li>
        }
        <!-- close -->
        @if (actionsView.close) {
          <li (click)="close()">
            <a data-action="close">
              <i class="feather icon-x"></i>
            </a>
          </li>
        }
      </ul>
    </div>
    <!--/ heading elements -->
  </div>
  @if (actionsView.collapse) {
    <div class="card-content" [ngbCollapse]="onclickEvent.collapseStatus">
      <ng-container *ngTemplateOutlet="cardBodyOutlet"></ng-container>
    </div>
  } @else {
    <ng-container *ngTemplateOutlet="cardBodyOutlet"></ng-container>
  }

  <ng-template #cardBodyOutlet>
    <!--? content wrapped with .card-body -->
    <ng-content select=".card-body"></ng-content>

    <!--? content without any wrapper -->
    <ng-content></ng-content>
  </ng-template>
</div>

<!-- /core card component -->
