<div class="layout-wrapper">
  <div class="card custom-form">
    <div class="card-header">
      {{ 'Datos de registro de la empresa' | uppercase }}
    </div>
    <div class="card-body">
      <form [formGroup]="customForm">
        <div class="form-group">
          <h6>Datos de inicio de sesión</h6>
        </div>
        <div class="form-group">
          <input class="form-control" [class.is-invalid]="isInvalid('email')"
            type="email" formControlName="email"
            autocomplete="off"
            placeholder="Correo electrónico" autofocus #email>
            @if (isInvalid('email')) {
              <small class="text-danger">Correo electrónico incorrecto</small>
            }
          </div>
          <div class="form-group">
            <input class="form-control"
              autocomplete="off"
              [class.is-invalid]="isInvalid('first_name')"
              type="text" formControlName="first_name" placeholder="Nombre">
            </div>
            <div class="form-group">
              <input class="form-control"
                autocomplete="off"
                [class.is-invalid]="isInvalid('last_name')"
                type="text" formControlName="last_name" placeholder="Apellidos">
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge form-password-toggle">
                  <input type="password" class="form-control"
                    autocomplete="off"
                    [type]="passwordTextType ? 'text' : 'password'"
                    [class.is-invalid]="isInvalid('password')"
                    id="floatingPassword"
                    placeholder="Contraseña" formControlName="password">
                    <div class="input-group-append">
                      <span class="input-group-text cursor-pointer"
                        ><i
                        class="feather font-small-4"
                            [ngClass]="{
                          'icon-eye-off': passwordTextType,
                          'icon-eye': !passwordTextType
                        }"
                        (click)="togglePasswordTextType()"
                        ></i
                      ></span>
                    </div>
                    @if (isInvalid('password') && f.password.errors) {
                      <div
                        class="invalid-feedback"
                        [ngClass]="{ 'd-block': isInvalid('password') && f.password.errors }"
                        >
                        @if (f.password.errors.required) {
                          <div>Ingrese la contraseña</div>
                        }
                      </div>
                    }
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge form-password-toggle">
                    <input type="password" class="form-control"
                      [type]="confPasswordTextType ? 'text' : 'password'"
                      [class.is-invalid]="isInvalid('password_confirmation')"
                      autocomplete="off"
                      id="floatingPasswordConfirm"
                      placeholder="Confirmar contraseña" formControlName="password_confirmation">
                      <div class="input-group-append">
                        <span class="input-group-text cursor-pointer"
                          ><i
                          class="feather font-small-4"
                            [ngClass]="{
                          'icon-eye-off': confPasswordTextType,
                          'icon-eye': !confPasswordTextType
                        }"
                          (click)="toggleConfPasswordTextType()"
                          ></i
                        ></span>
                      </div>
                      @if (isInvalid('password_confirmation') && f.password_confirmation.errors) {
                        <div
                          class="invalid-feedback"
                          [ngClass]="{ 'd-block': isInvalid('password_confirmation') && f.password_confirmation.errors }"
                          >
                          @if (f.password.errors.required) {
                            <div>Ingrese la confirmación de la contraseña</div>
                          }
                        </div>
                      }
                    </div>
                  </div>
                  <div class="form-group">
                    <hr>
                      <h6>Datos empresariales</h6>
                      <hr>
                      </div>
                      <div class="form-group">
                        <input class="form-control" type="text" formControlName="company_name"
                          placeholder="Nombre o razón social" autocomplete="off" [class.is-invalid]="isInvalid('company_name')">
                          @if (isInvalid('company_name')) {
                            <small class="text-danger">Nombre o razón social muy corto</small>
                          }
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="text" [placeholder]="'companies.trade_name' | translate" formControlName="trade_name">
                        </div>
                        <div class="form-group">
                          <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.identity_document' | translate}}</label>
                          <ng-select formControlName="identity_document_id" required [class.is-invalid]="isInvalid('invalidIdentity')">
                            @for (docs of identityDocs; track docs) {
                              <ng-option [value]="docs.id">
                                {{ docs.document_name }}
                              </ng-option>
                            }
                          </ng-select>
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="text"  formControlName="dni"
                            placeholder="Documento sin digito de verificación" inputmode="numeric" autocomplete="off"
                            [class.is-invalid]="isInvalid('dni')">
                            @if (isInvalid('dni')) {
                              <small class="text-danger">Número de documento incorrecto</small>
                            }
                          </div>
                          <div class="form-group">
                            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.tax_regime' | translate}}</label>
                            <ng-select formControlName="tax_regime_id" required [class.is-invalid]="isInvalid('invalidTaxRegime')" >
                              @for (taxr of taxregime; track taxr) {
                                <ng-option [value]="taxr.id">
                                  {{ taxr.code }} - {{ taxr.description }}
                                </ng-option>
                              }
                            </ng-select>
                          </div>
                          <div class="form-group">
                            <label><span
                            class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.tax_level' | translate}}</label>
                            <ng-select formControlName="tax_level_id" required  [class.is-invalid]="isInvalid('invalidTaxLevel')"
                              >
                              @for (taxl of taxlevel; track taxl) {
                                <ng-option [value]="taxl.id">
                                  {{ taxl.code }} - {{ taxl.description }}
                                </ng-option>
                              }
                            </ng-select>
                          </div>
                          <div class="form-group">
                            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.type_organization' | translate}}</label>
                            <ng-select  formControlName="type_organization_id"
                              placeholder="Tipo de contribuyente">
                              @for (org of organizations; track org) {
                                <ng-option [value]="org.id">{{ org.description }}</ng-option>
                              }
                            </ng-select>
                          </div>
                          <div class="form-group">
                            <input class="form-control" type="text"  formControlName="mobile"
                              placeholder="Telefono de contacto" autocomplete="on" inputmode="tel" [class.is-invalid]="isInvalid('mobile')">
                              @if (isInvalid('mobile')) {
                                <small class="text-danger">Numero de teléfono muy corto</small>
                              }
                            </div>
                            <div class="form-group">
                              <input class="form-control" type="text"  formControlName="address" placeholder="Dirección"
                                autocomplete="on" [class.is-invalid]="isInvalid('address')">
                                @if (isInvalid('address')) {
                                  <small class="text-danger">Dirección muy corta</small>
                                }
                              </div>
                              <div class="form-group">
                                <ng-select data-live-search="true"  formControlName="city_id"
                                  placeholder="Ciudad o municipio" [virtualScroll]="true">
                                  @for (city of cities; track city) {
                                    <ng-option [value]="city.id">
                                      {{city.city_code}} - {{ city.name_city }} ({{city.department.name_department}})
                                    </ng-option>
                                  }
                                </ng-select>
                              </div>
                            </form>
                            <div class="card-footer mt-2 d-flex justify-content-end">
                              <button (click)="onSave()" type="button" class="btn custom-button border fas-fa-save btn-block">
                                @if (!loading) {
                                  <span>Crear cuenta </span>
                                }
                                @if (loading) {
                                  <span>Creando cuenta... </span>
                                }
                                <i class="fas-fa-save fas " [ngClass]="{'fa-user-plus' :!loading, 'fa-spinner fa-spin': loading }" ></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
