<div class="layout-wrapper">
<div class="card custom-form">
  <div class="card-header">
    {{ title | uppercase}}
  </div>
  <div class ="card-body">
    <form [formGroup]="customForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.company_name' | translate}}</label>
            <input class="form-control" #focusElement type="text" formControlName="company_name"
              [class.is-invalid]="isInvalid('invalidCompanyName')" required autofocus>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.identity_document' | translate}}</label>
            <ng-select formControlName="identity_document_id" required [class.is-invalid]="isInvalid('invalidIdentity')">
              <ng-option *ngFor="let docs of identityDocs" [value]="docs.id">
                {{ docs.document_name }}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.dni' | translate}}</label>
            <input class="form-control" type="text" formControlName="dni"
                   [class.is-invalid]="isInvalid('invalidDni')" readonly>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>DV</label>
            <input class="form-control" type="text" formControlName="dv" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.type_organization' | translate}}</label>
            <ng-select formControlName="type_organization_id" required [class.is-invalid]="isInvalid('invalidOrganization')" >
              <ng-option *ngFor="let typeOrg of typeOrg" [value]="typeOrg.id">
                {{ typeOrg.code }} - {{ typeOrg.description }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label><span
                class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.country' | translate}}</label>
            <ng-select formControlName="country_id" required [class.is-invalid]="isInvalid('invalidCountry')"
              >
              <ng-option *ngFor="let country of countries" [value]="country.id">
                <img height="15" width="15" [src]="'assets/flags/'+country.image" /> {{ country.country_name }}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label><span
                class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.city' | translate}}</label>
            <ng-select formControlName="city_id" required [class.is-invalid]="isInvalid('invalidCity')" [virtualScroll]="true">
              <ng-option *ngFor="let city of cities" [value]="city.id">
                {{ city.city_code }} - {{ city.name_city }} ({{city.department.name_department}})
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.email' | translate}}</label>
            <input class="form-control" type="email" [class.is-invalid]="isInvalid('invalidEmail')" formControlName="email" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'companies.address' | translate}}</label>
            <input class="form-control" type="text" formControlName="address">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'companies.postal_code' | translate}}</label>
            <input class="form-control" type="text" formControlName="postal_code">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'companies.phone' | translate}}</label>
            <input class="form-control" type="text" formControlName="phone">
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <div class="form-group">
            <label for="file">Seleccionar imagen</label>
            <input type="file" id="file" #uploadFile
            (change)="uploadImage($event)" class="form-control-file">
          </div>
        </div>
        <div div class="col-md-6">
          <img width="128px" [src]="imgData"  class="img-thumbnail" fallimg>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <app-footer-form [showAaveACreate]="false" [saveAClose]="saveAClose" (closeEvent)="cancel()"
                      (saveAndCreateEvent)="saveAndCreate()" (saveAndCloseEvent)="saveAndClose()"></app-footer-form>
  </div>
</div>
</div>
