<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="36" />
      </a
    >
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5 auth-image">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img
          [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/reset-password-v2-dark.svg'
              : 'assets/images/pages/registro.svg'
          "
          class="img-fluid"
          alt="Register V2"
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Reset password-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Restablecer la contraseña 🔒</h2>
        <p class="card-text mb-2">Su nueva contraseña debe ser diferente de las contraseñas utilizadas anteriormente</p>
        <form class="auth-reset-password-form mt-2" [formGroup]="customForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label>Nueva contraseña</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                autocomplete="off"
                [type]="passwordTextType ? 'text' : 'password'"
                formControlName="password"
                class="form-control form-control-merge"
                placeholder="············"
                aria-describedby="reset-password-new"
                tabindex="1"
                autofocus
                [ngClass]="{ 'is-invalid error': submitted && f.newPassword.errors }"
              />
            <span class="input-group-text cursor-pointer"
              ><i
                class="feather font-small-4"
                [ngClass]="{
                  'icon-eye-off': passwordTextType,
                  'icon-eye': !passwordTextType
                }"
                (click)="togglePasswordTextType()"
              ></i
            ></span>
            </div>
            <div
              *ngIf="submitted && f.newPassword.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.newPassword.errors }"
            >
              <div *ngIf="f.newPassword.errors.required">Contraseña obligatoria</div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label>Confirmar contraseña</label>
            </div>
            <div class="input-group form-password-toggle">
              <input
                autocomplete="off"
                [type]="confPasswordTextType ? 'text' : 'password'"
                formControlName="password_confirmation"
                class="form-control form-control-merge"
                placeholder="············"
                aria-describedby="reset-password-confirm"
                tabindex="2"
                [ngClass]="{ 'is-invalid error': submitted && f.confirmPassword.errors }"
              />
            <span class="input-group-text cursor-pointer"
              ><i
                class="feather font-small-4"
                [ngClass]="{
                  'icon-eye-off': confPasswordTextType,
                  'icon-eye': !confPasswordTextType
                }"
                (click)="toggleConfPasswordTextType()"
              ></i
            ></span>
            </div>
            <div
              *ngIf="submitted && f.confirmPassword.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.confirmPassword.errors }"
            >
              <div *ngIf="f.confirmPassword.errors.required">Contraseña obligatoria</div>
            </div>
          </div>
          <div class="d-grid">
            <button class="btn btn-primary mt-50" tabindex="3" rippleEffect>Establecer una nueva contraseña</button>
          </div>
          <label
                  style="padding: 2px;font-size: 12px;">{{ 'register.label.youRegistered' | translate }}
            <a
                    [routerLink]="['/auth/login']"><strong>{{ 'register.label.login' | translate }}</strong></a>
          </label>
        </form>
      </div>
    </div>
    <!-- /Reset password-->
  </div>
</div>
