.info-import {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  width: 100%;
  padding: .25rem;
  .left-content {
    padding: 2px;
    img {
      min-width: 72px;
      max-width: 128px;
      height: auto;
    }
  }
  .right-content {
    padding-left: 1rem;
    line-height: 1.2;
    .title {
      font-size: 2rem;
      font-weight: bold;
    }
    .description {
      font-size: 1.5rem;
    }
  }
}