<div class="card">
  <div class="card-header">
    <h5>{{title | uppercase}}</h5>
  </div>
  <div class="card-body">
    <div class="info-import">
      <div class="left-content">
        <img
            class="img-fluid"
            src="/assets/img/aviso.svg" alt="">
      </div>
      <div class="right-content">
        <span class="title">Aviso...</span>
        <p>
          <small>
            Para importar un archivo, este debe ser en formato EXCEL y debe contener los campos necesarios para la importación.
            De lo contrario, la importación no se realizará correctamente.<br/>
            Estos campos son: <strong>Tipo de documento, CUFE/CUDE, Folio,	Prefijo,	Fecha Emisión,	Fecha Recepción,
            NIT Emisor,	Nombre Emisor,	NIT Receptor,	Nombre Receptor,	IVA,	ICA,	IPC,	Total,	Estado,	Grupo</strong>.<br/>
            El archivo debe contener una fila de encabezado con los nombres de los campos. Acorde a documento excel que se baja de la plataforma de la DIAN.<br/>
            Este listado lo puede bajar desde el portal de facturación de la DIAN.
            <br/>
            <strong>Nota:</strong> El archivo no debe contener más de 100 registros.
          </small>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="file" id="fileUpload"
                 #fileUpload name="fileUpload"
                 class="form-control-file"
                 required (change)="onClick($event)">
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <app-footer-form [showAaveACreate]="false" [saveAClose]="saveAClose" (closeEvent)="cancel()"
                     (saveAndCloseEvent)="saveAndClose()"></app-footer-form>
  </div>
</div>
