// app-versiones.component.scss
$primary-color: #3c6ab2;
$secondary-color: #2556a3;
$error-color: #e74c3c;
$success-color: #2a9d8f;
$warning-color: #f39c12;

.version-container {
  border-left: 5px solid $primary-color;
  padding: 2px;

  .version-title {
    color: $secondary-color;
    margin-bottom: 1px !important;
  }
  .version-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    border-bottom: 2px double $primary-color;
    padding: 2px;
    text-transform: uppercase !important;
    .version-number {
      font-size: 1.5rem;
    }
    .version-date {
      font-size: 1rem;
    }
  }
  .changes-list {
    list-style-type: none;
    padding: 0;
    i {
      font-size: 1.2rem;
      margin-right: 5px;
    }
    li {
      margin-top: 5px;
      padding: 6px 10px;
      border-radius: 5px;
      display: inline-flex;
      align-items: center;
      width: 100%;
      p {
        line-height: 1;
        margin-bottom: 0;
      }
      &.feature {
        background-color: $success-color;
        color: white;
      }

      &.bug {
        background-color: $error-color;
        color: white;
      }

      &.improvement {
        background-color: $warning-color;
        color: white;
      }
    }
  }
}
