.popup {
  position: fixed;
  bottom: var(--ifm-spacing-horizontal);
  right: var(--ifm-spacing-horizontal);
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-md);
  margin: 0;
  max-width: 300px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
