<div class="w-100 p-50">
    <h4>
        Estimado cliente,
    </h4>
    <div class="info-block">
        <span class="icon download-icon">
            <i class="fas fa-download"></i>
        </span>
        <p>
            <strong>LOPEZSOFT S.A.S.</strong> le informa que su certificado de firma digital para facturación y nómina
            electrónica está listo para ser descargado.
            <br>Para descargarlo, haga clic en el enlace de descarga que se encuentra un poco más abajo de este mensaje.
        </p>
    </div>

    <div class="info-block">
        <span class="icon file-icon">
            <i class="fas fa-newspaper"></i>
        </span>
        <p>
            Para garantizar la seguridad de su información, el certificado está protegido: <br>
            <strong>Con su número de identificación tributaria más digito de verificación</strong> (para personas jurídicas)<br>
            <strong>Con su número de identificación personal sin digito de verificación</strong> (para personas naturales).
        </p>
    </div>

    <div class="recommendation">
        Le recomendamos utilizar programas como <strong>WinRAR o 7-Zip</strong> para extraer el archivo.
        <br>El <strong>PIN</strong> necesario para acceder al certificado es el siguiente: <b>{{pin}}</b>
    </div>
</div>