<!-- Footer -->
<p class="clearfix mb-0">
  <span class="float-start d-block d-md-inline-block mt-25">
    COPYRIGHT &copy; 2020 - {{ year }}
    <a class="ml-25" href="https://lopezsoft.net.co" target="_blank">LOPEZSOFT S.A.S</a>
    <span class="d-none d-sm-inline-block">, All rights Reserved</span>
  </span>
  <span class="float-end d-none d-md-block">
		<i class="fas fa-heart"></i>
		<span><strong> V. {{ versionApp }} </strong> </span>
  </span>
</p>
<!--/ Footer -->

<!-- Move to top Button-->
<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>

