<div class="card custom-form">
  <div class="card-header">
    {{ 'general.createEdit' | translate | uppercase }} {{ title | uppercase}}
  </div>
  <div class ="card-body">
    <form [formGroup]="customForm">
      <div class="row">
        <div class="col-md-12">
        <label>Correo para la recepción de documentos. <strong>invoice-receipt-erp&#64;matiasinbox.com.co</strong></label>
        </div>
        <div class="col-md-12">
          <div class="form-check form-switch pt-1 pb-1">
            <input class="form-check-input"
                   type="checkbox"
                   role="switch"
                   formControlName="send_events"
                   id="flexSwitchCheckChecked">
            <label class="form-check-label" for="flexSwitchCheckChecked">
              Generar automáticamente lo eventos de: <strong>Recibo del bien y Aceptación expresa</strong>
            </label>
          </div>
        </div>
      </div>
      <h6 class="mb-1">2. Información de la persona a cargo de la recepción</h6>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>
              Nombre
            </label>
            <input class="form-control" #focusElement type="text" formControlName="first_name"
                   [class.is-invalid]="isInvalid('first_name')" required autofocus>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>
              Apellidos
            </label>
            <input class="form-control" type="text"
                   [class.is-invalid]="isInvalid('last_name')"
                   formControlName="last_name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>
              {{'companies.identity_document' | translate}}
            </label>
            <ng-select formControlName="identity_document_id" required [class.is-invalid]="isInvalidNumber('identity_document_id')">
              <ng-option *ngFor="let docs of identityDocs" [value]="docs.id">
                {{ docs.document_name }}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.dni' | translate}}</label>
            <input class="form-control" type="text" formControlName="dni" required
                   (change)="onChangeDni($event.target.value)"
                   [class.is-invalid]="isInvalid('dni')">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>DV</label>
            <input class="form-control" type="text" formControlName="dv" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>
              {{'companies.email' | translate}}
            </label>
            <input class="form-control" type="email" formControlName="email" id="emailCustomer"
                   [class.is-invalid]="isInvalid('email')">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>
              Cargo laboral
            </label>
            <input class="form-control" type="text"
                    [class.is-invalid]="isInvalid('job_title')"
                   formControlName="job_title">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>
              Departamento administrativo
            </label>
            <input class="form-control" type="text"
                   [class.is-invalid]="isInvalid('department')"
                   formControlName="department">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <app-footer-form [showAaveACreate]="false" (closeEvent)="cancel()"
                     (saveAndCreateEvent)="saveAndCreate()" (saveAndCloseEvent)="saveAndClose()"></app-footer-form>
  </div>
</div>
