<div class="layout-wrapper-component">
  <div class="layout-sidebar"
       [class]="{'height-completed': hideNavbar}"
       *ngIf="isShowSidebar()">
    <ng-content select="[slot='sidebar']"></ng-content>
  </div>
  <div class="layout-content"
       [ngClass]="{'height-completed': hideNavbar}"
       *ngIf="isShowContent()">
    <div class="card" *ngIf="!isShowSidebar()">
      <div class="card-body">
        <button
            appCustomTooltip="Volver al menú anterior"
            tooltipDirection="left"
            class="btn custom-button fas-fa-close p-25" (click)="toggleNavbar()">
          <i class="fas fa-chevron-left fas-fa-18 fas-fa-close"></i>
          {{ 'buttons.back' | translate }}
        </button>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>