<div class="layout-wrapper">
  <div class="card custom-form">
    <div class="card-header">
      {{ title | uppercase }}
    </div>
    <div class="card-body">
      <form [formGroup]="customForm">
        <div class="form-group">
          <h6>{{ (isViafirma() && isNaturelPerson()) ? 'DATOS DEL SOLICITANTE' :
            'DATOS EMPRESARIALES' }}</h6>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>
                <span class="asterisk">{{ 'general.asterisk' | translate
                  }}</span>
                {{'companies.type_organization' | translate}}
              </label>
              <ng-select (change)="onChangeTypeOrganization($event)"
                formControlName="type_organization_id"
                placeholder="Tipo de contribuyente">
                @for (org of organizations; track org) {
                <ng-option [value]="org.id">{{ org.description }}</ng-option>
                }
              </ng-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>
                <span class="asterisk">{{ 'general.asterisk' | translate
                  }}</span>
                {{'companies.nit' | translate}}
              </label>
              <input class="form-control" type="text" formControlName="dni"
                #dniInput autofocus (blur)="onLookupDni()"
                (change)="onChangeDni($event)"
                placeholder="{{'companies.nit' | translate}}"
                inputmode="numeric"
                autocomplete="off" [class.is-invalid]="isInvalid('dni')">
              @if (isInvalid('dni')) {
              <small class="text-danger">N.I.T incorrecto</small>
              }
            </div>
          </div>
        </div>

        @if (!(isViafirma() && isNaturelPerson())) {
        <div class="form-group">
          <label>
            <span class="asterisk">{{ 'general.asterisk' | translate }}</span>
            {{'companies.company_name' | translate}}
          </label>
          <input class="form-control" type="text" formControlName="company_name"
            placeholder="Nombre o razón social"
            autocomplete="off" [class.is-invalid]="isInvalid('company_name')">
          @if (isInvalid('company_name')) {
          <small class="text-danger">Nombre o razón social muy corto</small>
          }
        </div>
        @if(isViafirma()) {
        <div class="form-group">
          <label>
            <span class="asterisk">{{ 'general.asterisk' | translate
              }}</span>
            {{'companies.entity_document_type' | translate}}
          </label>
          <ng-select formControlName="entity_document_type_id" required>
            <ng-option [value]="0">Seleccione una opción</ng-option>
            @for (type of entityDocumentTypes; track type) {
            <ng-option [value]="type.id">{{ type.description }}</ng-option>
            }
          </ng-select>
          <small class="text-info">
            <strong>Importante:</strong> {{'viafirma.small.entity_document_type'
            |
            translate}}
          </small>
        </div>
        }
        <div class="form-group">
          <hr>
          <h6>DATOS DEL REPRESENTANTE LEGAL</h6>
          <hr>
        </div>
        }

        @if (!isViafirma()) {
        <div class="form-group">
          <label>
            <span class="asterisk">{{ 'general.asterisk' | translate }}</span>
            {{'companies.legal_representative' | translate}}
          </label>
          <input class="form-control" type="text"
            formControlName="legal_representative"
            placeholder="Nombre completo de representante legal"
            inputmode="text" [disabled]="isNaturelPerson()"
            autocomplete="on"
            [class.is-invalid]="isInvalid('legal_representative')">
          @if (isInvalid('legal_representative')) {
          <small class="text-danger">
            Nombre completo de representante legal muy corto
          </small>
          }
        </div>
        } @else {
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>
                <span class="asterisk">{{ 'general.asterisk' | translate
                  }}</span>
                {{'companies.legal_rep_first_name' | translate}}
              </label>
              <input class="form-control" type="text"
                formControlName="legal_rep_first_name"
                placeholder="{{'companies.legal_rep_first_name' | translate}}"
                autocomplete="on"
                [class.is-invalid]="isInvalid('legal_rep_first_name')">
              @if (isInvalid('legal_rep_first_name')) {
              <small class="text-danger">Nombres requeridos</small>
              }
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>
                <span class="asterisk">{{ 'general.asterisk' | translate
                  }}</span>
                {{'companies.legal_rep_last_name' | translate}}
              </label>
              <input class="form-control" type="text"
                formControlName="legal_rep_last_name"
                placeholder="{{'companies.legal_rep_last_name' | translate}}"
                autocomplete="on"
                [class.is-invalid]="isInvalid('legal_rep_last_name')">
              @if (isInvalid('legal_rep_last_name')) {
              <small class="text-danger">Apellidos requeridos</small>
              }
            </div>
          </div>
        </div>
        }

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label><span class="asterisk">{{ 'general.asterisk' | translate
                  }}</span>{{'companies.identity_document' |
                translate}}</label>
              <ng-select formControlName="identity_document_id" required
                [class.is-invalid]="isInvalid('invalidIdentity')">
                @for (docs of identityDocs; track docs) {
                <ng-option [value]="docs.id">
                  {{ docs.document_name }}
                </ng-option>
                }
              </ng-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>
                <span class="asterisk">{{ 'general.asterisk' | translate
                  }}</span>
                {{'companies.dni' | translate}}
              </label>
              <input class="form-control" type="text"
                formControlName="document_number" #documentInput
                (change)="onChangeDocument($event)"
                placeholder="Documento sin digito de verificación"
                inputmode="numeric" autocomplete="off"
                [class.is-invalid]="isInvalid('document_number')">
              @if (isInvalid('document_number')) {
              <small class="text-danger">Número de documento incorrecto</small>
              }
            </div>
          </div>
        </div>

        @if (isViafirma()) {
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label><span
                  class="asterisk">{{ 'general.asterisk' | translate
                  }}</span>{{'companies.country_emission' | translate}}</label>
              <ng-select formControlName="country_id" required
                [class.is-invalid]="isInvalid('invalidCountry')">
                @for (country of countries; track country) {
                <ng-option [value]="country.id">
                  <img height="15" width="15"
                    [src]="getCountryFlagPath(country.image) | fallbackImage"
                    (error)="onImageError($event)" /> {{
                  country.country_name }}
                </ng-option>
                }
              </ng-select>
              <small class="text-info">
                <strong>Nota:</strong> {{'viafirma.small.country_emission' |
                translate}}
              </small>
            </div>
          </div>
        </div>
        }

        <div class="form-group">
          <hr>
          <h6>DATOS DE CONTACTO Y UBICACIÓN</h6>
          <hr>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>
                @if(isViafirma()){
                <span class="asterisk">{{ 'general.asterisk' | translate
                  }}</span>
                }
                {{ 'companies.legal_rep_email' | translate }}
              </label>
              <input class="form-control" type="email"
                formControlName="legal_rep_email"
                placeholder="ejemplo@empresa.com" autocomplete="email"
                [class.is-invalid]="isInvalid('legal_rep_email')">
              @if (isInvalid('legal_rep_email')) {
              <small class="text-danger">Correo electrónico inválido o
                requerido</small>
              }
              @if(isViafirma()) {
              <small class="text-info">
                <strong>Nota:</strong> {{'viafirma.small.legal_rep_email' |
                translate}}
              </small>
              }
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>
                Número teléfono móvil
              </label>
              <input class="form-control" type="text" formControlName="mobile"
                placeholder="Número teléfono móvil"
                autocomplete="on" inputmode="tel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>
                Teléfono fijo y extensión
              </label>
              <input class="form-control" type="text" formControlName="phone"
                placeholder="Teléfono fijo y extensión"
                autocomplete="on" inputmode="tel">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>
                <span class="asterisk">{{ 'general.asterisk' | translate
                  }}</span>
                {{ (isViafirma() && isNaturelPerson()) ? 'Ciudad de residencia'
                : 'companies.city' | translate }}
              </label>
              <ng-select data-live-search="true" formControlName="city_id"
                placeholder="Ciudad o municipio"
                [virtualScroll]="true">
                @for (city of cities; track city) {
                <ng-option [value]="city.id">
                  {{city.city_code}} - {{ city.name_city }}
                  ({{city.department.name_department}})
                </ng-option>
                }
              </ng-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>
                <span class="asterisk">{{ 'general.asterisk' | translate
                  }}</span>
                {{ (isViafirma() && isNaturelPerson()) ?
                'Dirección de residencia' : 'Dirección de la empresa' }}
              </label>
              <input class="form-control" type="text" formControlName="address"
                placeholder="Dirección"
                autocomplete="on" [class.is-invalid]="isInvalid('address')">
              @if (isInvalid('address')) {
              <small class="text-danger">Dirección muy corta</small>
              }
            </div>
          </div>
        </div>

        @if (isViafirma()) {
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info p-50 mb-50">
              <i class="fas fa-info-circle me-50"></i>
              @if (!isNaturelPerson() && f['entity_document_type_id']?.value ===
              1) {
              Se enviará un enlace de verificación biométrica al correo del
              representante legal una vez procesada la
              solicitud.
              } @else {
              Un asesor de la entidad certificadora le contactará por correo
              electrónico para
              continuar con el proceso.
              }
            </div>
          </div>
        </div>
        }

        @if (_token.isAdmin()) {
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>
                Información adicional
              </label>
              <textarea class="form-control" formControlName="info"
                placeholder="Información adicional"
                inputmode="text"></textarea>
            </div>
          </div>
        </div>
        }

        <div class="form-group">
          <hr>
          <h6>VIGENCIA DEL CERTIFICADO</h6>
          <hr>
        </div>
        <div class="form-group">
          <label>
            <span class="asterisk">{{ 'general.asterisk' | translate }}</span>
            Seleccione la vigencia del certificado
          </label>
          <ng-select formControlName="life" required
            [class.is-invalid]="isInvalid('life')">
            @for (validity of validities; track validity) {
            <ng-option [value]="validity.id">
              {{ validity.name }}
            </ng-option>
            }
          </ng-select>
        </div>
        @if (!canEdit && !isViafirma()) {
        <div class="form-group">
          <hr>
          <h6>SUBIDA DE ARCHIVOS</h6>
          <hr>
        </div>
        <!-- Subida de archivos UNIFICADA -->
        <div class="col-md-12">
          <app-file-upload [config]="uploadConfig" [currentFiles]="files"
            [totalUploadedSize]="getTotalUploadedSize()"
            (fileSelected)="onFileSelected($event)"
            (fileRemoved)="onFileRemoved($event)"
            (validationError)="onFileValidationError($event)">
          </app-file-upload>
        </div>
        }
      </form>
      <div
        class="card-footer mt-2 d-flex justify-content-between align-items-center">
        <div>
          @if (!canSaveForm && !canEdit) {
          <small [class.text-danger]="files.length > maxFilesAllowed"
            [class.text-warning]="files.length < maxFilesAllowed || files.length === 0"
            class="fw-bold">
            <i class="fas fa-exclamation-triangle"></i>
            {{ documentValidationMessage }}
          </small>
          }
          @if (canSaveForm && !canEdit) {
          <small class="text-success fw-bold">
            <i class="fas fa-check-circle"></i>
            {{ documentValidationMessage }} ✓
          </small>
          }
        </div>
        <div class="d-flex gap-2">
          <button type="button" class="btn custom-button border btn-block"
            (click)="onCancel()">
            <i class="fas fa-times me-1"></i>
            Cancelar
          </button>
          <button (click)="onSave()" type="button"
            class="btn ms-1 custom-button btn-primary btn-block text-white"
            [disabled]="!canSaveForm || loading"
            [class.disabled]="!canSaveForm">
            @if (!loading) {
            <span>Crear solicitud</span>
            }
            @if (loading) {
            <span>Procesando solicitud... </span>
            }
            <i class="fas-fa-save fas ms-1"
              [ngClass]="{'fa-plus' :!loading, 'fa-spinner fa-spin': loading }"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>